---
import ButtonCta from "../button/ButtonCta.astro";

const { logo, logoAlt } = Astro.props;
const isTopPage = Astro.url.pathname === "/";
---

<!-- header -->
<header class="header" id="site-header">
  <div class="header-container l-container">
    {isTopPage ? (
      <h1 class="header-logo">
        <a href="/">
          <img src={logo} alt={logoAlt} loading="eager" decoding="async" width="152" height="33" fetchpriority="low">
        </a>
      </h1>
    ) : (
      <p class="header-logo">
        <a href="/">
          <img src={logo} alt={logoAlt} loading="eager" decoding="async" width="152" height="33" fetchpriority="low">
        </a>
      </p>
    )}
    <button class="header-hamburger" type="button">
      <span class="header-hamburger-icon"></span>
      <span class="header-hamburger-icon"></span>
      <span class="header-hamburger-icon"></span>
      <span class="u-sr-only">メニュー</span>
    </button>
    <div class="header-link">
      <nav class="header-nav" aria-label="サイトナビゲーション">
        <ul class="header-nav-list">
          <li class="header-nav-item header-nav-item--top">
            <button class="header-nav-btn" type="button" aria-haspopup="true" aria-expanded="false">ホーム</button>
            <ul class="header-hidden-list">
              <li class="header-hidden-item">
                <a href="/#download">各種ダウンロード</a>
              </li>
              <li class="header-hidden-item">
                <a href="/#access">アクセス</a>
              </li>
            </ul>
          </li>
          <li class="header-nav-item">
            <button class="header-nav-btn" type="button" aria-haspopup="true" aria-expanded="false">園の紹介</button>
            <ul class="header-hidden-list">
              <li class="header-hidden-item">
                <a href="/about#body">教育方針</a>
              </li>
              <li class="header-hidden-item">
                <a href="/about#kyushoku">自園給食のこだわり</a>
              </li>
              <li class="header-hidden-item">
                <a href="/about#bus">送迎バス</a>
              </li>
              <li class="header-hidden-item">
                <a href="/about#safety">安心・安全への取り組み</a>
              </li>
              <li class="header-hidden-item">
                <a href="/about#facility">施設紹介</a>
              </li>
            </ul>
          </li>
          <li class="header-nav-item">
            <button class="header-nav-btn" type="button" aria-haspopup="true" aria-expanded="false">園の生活</button>
            <ul class="header-hidden-list">
              <li class="header-hidden-item">
                <a href="/life#body">園の一日</a>
              </li>
              <li class="header-hidden-item">
                <a href="/life#mimomi-hoiku">みもみ保育</a>
              </li>
              <li class="header-hidden-item">
                <a  href="/life#annual-event">年間行事</a>
              </li>
              <li class="header-hidden-item">
                <a  href="/life#azukari-hoiku">預かり保育</a>
              </li>
            </ul>
          </li>
          <li class="header-nav-item">
            <a href="/admission-information">入園案内</a>
          </li>
          <li class="header-nav-item">
            <a href="/news/1">お知らせ</a>
          </li>
          <li class="header-nav-item">
            <a href="/recruitment">採用情報</a>
          </li>
          <li class="header-nav-item">
            <a href="/faq">よくある質問</a>
          </li>
          <li class="header-nav-item header-nav-item--parents">
            <a href="https://xs064997.xsrv.jp/mimomi-otayori-test/otayori/"><span><span>保護者さま</span><span>専用ページ</span><span class="_no-pc">「おたより」</span></span></a>
          </li>
          <li class="header-nav-item header-nav-item--mi-shuen-ji">
            <a href="/mi-shuen-ji"><span><span>未就園児(1,2歳)</span><span>親子教室について</span></span></a>
          </li>
        </ul>
      </nav>
      <div class="header-cta">
        <!-- pc -->
        <div class="header-cta-button-pc">
          <a href="https://lin.ee/UtZ5lXCf/" target="_blank" aria-label="最新情報、お問い合わせは公式LINEから">
          </a>
        </div><!-- /.header-cta-button-pc -->
        <!-- sp -->
        <div class="header-cta-button-sp">
          <p class="header-cta-button-text">最新情報、お問い合わせは公式LINEから</p>
          <ul class="header-cta-button-list">
            <li class="header-cta-button-item">
              <ButtonCta />
            </li>
            <li class="header-cta-button-item">
              <ButtonCta
                ctaText="リクルート専用"
                ctaClass="c-button-cta c-button-cta--recruitment"
                ctaHref="https://lin.ee/qD9ric4/"
              />
            </li>
          </ul>
        </div><!-- /.header-cta-button-sp -->
      </div><!-- /.header-cta -->
    </div><!-- /.header-link -->
  </div><!-- /.header-container.l-container -->
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.querySelector(".header-hamburger");
    const headerLinks = document.querySelector(".header-link");
    const navLinks = document.querySelectorAll(".header-link a");
    const body = document.body;
    const navButtons = document.querySelectorAll(".header-nav-btn");
    let scrollY = 0; // スクロール位置の保存用

    hamburger.addEventListener("click", function () {
      const isActive = this.classList.toggle("active");
      headerLinks.classList.toggle("active");

      if (isActive) {
        scrollY = window.scrollY;
        body.style.position = "fixed";
        body.style.top = `-${scrollY}px`;
        body.style.left = "0";
        body.style.right = "0";
        body.classList.add("no-scroll");
      } else {
        body.style.position = "";
        body.style.top = "";
        body.style.left = "";
        body.style.right = "";
        body.classList.remove("no-scroll");
        window.scrollTo(0, scrollY);
      }
    });

    // ナビゲーションリンククリック時にメニューを閉じる
    navLinks.forEach(function (link) {
      link.addEventListener("click", function () {
        hamburger.classList.remove("active");
        headerLinks.classList.remove("active");
        body.style.position = "";
        body.style.top = "";
        body.style.left = "";
        body.style.right = "";
        body.classList.remove("no-scroll");
        window.scrollTo(0, scrollY);
      });
    });

    // navボタンクリック時のサブメニュー開閉処理
    navButtons.forEach(button => {
      button.addEventListener('click', function () {
        const expanded = this.getAttribute('aria-expanded') === 'true';
        const hiddenList = this.nextElementSibling;

        navButtons.forEach(btn => {
          btn.setAttribute('aria-expanded', 'false');
          btn.classList.remove('is-open');
          if (btn.nextElementSibling && btn.nextElementSibling.classList.contains('header-hidden-list')) {
            const list = btn.nextElementSibling;
            list.classList.remove('is-open');
            list.style.height = '0'; // 高さをリセット
          }
        });

        if (!expanded) {
          this.setAttribute('aria-expanded', 'true');
          this.classList.add('is-open');
          if (hiddenList && hiddenList.classList.contains('header-hidden-list')) {
            hiddenList.classList.add('is-open');
            const scrollHeight = hiddenList.scrollHeight; // 中身に合わせた高さを取得
            hiddenList.style.height = scrollHeight + 'px';
          }
        }
      });
    });

     // スクロール時に.subメニューを閉じる
      window.addEventListener('scroll', function () {
      navButtons.forEach(btn => {
        btn.setAttribute('aria-expanded', 'false');
        btn.classList.remove('is-open');
        const hiddenList = btn.nextElementSibling;
        if (hiddenList && hiddenList.classList.contains('header-hidden-list')) {
          hiddenList.classList.remove('is-open');
          hiddenList.style.height = '0';
        }
      });
    });
  });
</script>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  // header
  .header {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--color-base);
    font-size: 12px;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 100%;
    max-width: 152px;

    a {
      display: block;
    }
  }

  .header-link {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.5;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-nav-item {
    position: relative;

    &--top {
      display: none;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      margin-left: 16px;
    }

    &:nth-child(8) {
      margin-left: 20px;
    }

    a {
      display: block;
      padding: 8px 0;
    }

    &--parents,
    &--mi-shuen-ji {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid;
        background-color: #fff;
        line-height: 1.3;

        span {
          display: block;
        }

        ._no-pc {
          display: none;
        }
      }
    }

    &--parents {
      a {
        padding: 9px 19px 8px 48px;
        background-image: url(/assets/images/global/icon-lock.svg);
        background-repeat: no-repeat;
        background-size: 19px 24px;
        background-position: left 19px top 13px;
      }
    }

    &--mi-shuen-ji {
      a {
        padding: 9px 19px 8px 53px;
        background-image: url(/assets/images/global/icon-baby.svg);
        background-repeat: no-repeat;
        background-size: 24px 23px;
        background-position: left 19px top 13px;
      }
    }
  }

  .header-nav-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 0;

    &::after {
      content: "";
      width: 10px;
      height: 8px;
      background-color: currentColor;
      clip-path: polygon(100% 0, 0 0, 50% 100%);
    }

    &.is-open::after {
      rotate: 180deg;
    }
  }

  .header-hidden-list {
    display: none;
    overflow: hidden;
    width: 172px;
    height: 0;
    border-radius: 10px;
    border: 1px solid;
    background-color: #fff;
    position: absolute;
    top: 44px;
    left: 50%;
    translate: -50%;
    transition: height .3s ease;

    &.is-open {
      display: block;
      height: auto; // ここだけだとダメなのでJSで実際の高さを計算してあげる
    }
  }

  .header-hidden-item {
    a {
      display: grid;
      place-items: center;
    }

    &:not(:last-child) {
      border-bottom: 1px solid;
    }
  }

  .header-cta-button-pc {
    a {
      display: grid;
      place-items: center;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      background-color: var(--color-line);
      background-image: url(/assets/images/global/icon-line@2x.webp);
      background-repeat: no-repeat;
      background-size: 30px 28px;
      background-position: center top 11px;
    }

    img {
      width: 30px;
    }
  }

  .header-cta-button-sp {
    display: none;
  }

  @media screen and (max-width: 1149px) {
    .header {
      font-size: 16px;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / .2);
    }

    .header-container {
      width: 100%;
      padding: 0 calc(20 var(--vw-sp));
      position: relative;
    }

    // hamburger icon
    .header-hamburger {
      width: 23px;
      height: 48px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: calc(20 var(--vw-sp));
      z-index: 30;
    }

    .header-hamburger-icon {
      display: inline-block;
      width: 23px;
      height: 2px;
      background-color: var(--color-main);
      position: absolute;
      left: 0;
      transition: all .3s ease;

      &:nth-of-type(1) {
        top: 16px;
      }

      &:nth-of-type(2) {
        top: 24px;
      }

      &:nth-of-type(3) {
        top: 32px;
      }
    }

    // animation
    .header-hamburger span:nth-of-type(1) {
      animation: btn07-bar01 .6s forwards;
    }
    @keyframes btn07-bar01 {
      0% {
        transform: translateY(8px) rotate(45deg);
      }
      50% {
        transform: translateY(8px) rotate(0);
      }
      100% {
        transform: translateY(0) rotate(0);
      }
    }
    .header-hamburger span:nth-of-type(2) {
      transition: all .25s .25s;
      opacity: 1;
    }
    .header-hamburger span:nth-of-type(3) {
      animation: btn07-bar03 .6s forwards;
    }
    @keyframes btn07-bar03 {
      0% {
        transform: translateY(-8px) rotate(-45deg);
      }
      50% {
        transform: translateY(-8px) rotate(0);
      }
      100% {
        transform: translateY(0) rotate(0);
      }
    }
    .header-hamburger.active span:nth-of-type(1) {
      animation: active-btn07-bar01 .6s forwards;
    }
    @keyframes active-btn07-bar01 {
      0% {
        transform: translateY(0) rotate(0);
      }
      50% {
        transform: translateY(8px) rotate(0);
      }
      100% {
        transform: translateY(8px) rotate(45deg);
      }
    }
    .header-hamburger.active span:nth-of-type(2) {
      opacity: 0;
    }
    .header-hamburger.active span:nth-of-type(3) {
      animation: active-btn07-bar03 .6s forwards;
    }
    @keyframes active-btn07-bar03 {
      0% {
        transform: translateY(0) rotate(0);
      }
      50% {
        transform: translateY(-8px) rotate(0);
      }
      100% {
        transform: translateY(-8px) rotate(-45deg);
      }
    }

    // hamburger menu
    .header-link {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      width: 70%;
      height: 100vh;
      padding: 38px 48px 140px;
      background-color: var(--color-base);
      position: fixed;
      top: 101px;
      right: -70%;
      z-index: 20;
      overflow: auto;
      transition: all .6s ease;

      &.active {
        right: 0;
      }
    }

    .header-nav {
      width: 100%;
    }
    .header-nav-list {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    .header-nav-item {
      width: 100%;
      border-bottom: 1px solid;

      &--top {
        display: block;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        margin-left: 0;
      }

      &:nth-child(8) {
        margin-left: 0;
      }

      a {
        display: block;
        padding: 10px 0;
      }

      &--parents,
      &--mi-shuen-ji {
        a {
          display: flex;
          align-items: center;
          gap: 0;
          padding: 10px 0;
          border-radius: 0;
          border: none;
          background-color: transparent;
          background-image: none;
          line-height: 1.5;

          span {
            display: inline-block;
          }

          ._no-pc {
            display: inline-block;
          }
        }
      }
    }

    .header-nav-btn {
      justify-content: space-between;
      width: 100%;
      padding: 10px 0;

      &::after {
        background-color: var(--color-baby-pink);
      }
    }

    .header-hidden-list {
      width: 100%;
      border-radius: 0;
      border: none;
      background-color: transparent;
      position: static;
      translate: 0;
    }

    .header-hidden-item {
      a {
        place-items: start;
        font-weight: 40;
      }

      &:not(:last-child) {
        border-bottom: none;
      }
    }

    .header-cta-button-pc {
      display: none;
    }

    .header-cta-button-sp {
      display: block;
      margin-top: 30px;
    }

    .header-cta-button-text {
      font-size: 12px;
      font-weight: 400;
    }

    .header-cta-button-list {
      display: grid;
      gap: 10px;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    .header {
      height: 48px;
      padding-bottom: 2px;
    }

    .header-logo {
      max-width: 84px;
      margin-bottom: 9px;
    }

    // hamburger menu
    .header-link {
      width: 100%;
      top: 49px;
      right: -100%;
      padding: 28px 27px 120px 28px;
    }
  }

  // hover action
  @media (any-hover: hover) {
    .header-nav-item {
      a {
        transition: color .3s ease;

        &:hover {
          color: var(--color-baby-pink);
        }
      }

      &--parents,
      &--mi-shuen-ji {
        a {
          transition: background-color .3s ease;

          &:hover {
            background-color: var(--color-btn-hover);
            color: var(--color-main);
            animation: header-button .4s ease-in-out;
          }

          @media screen and (max-width: 1149px) {
            transition: color .3s ease;

            &:hover {
              background-color: transparent;
              color: var(--color-baby-pink);
            }
          }
        }
      }
    }

    @keyframes header-button {
      0% {
        background-position: left 19px top 13px;
      }
      60% {
        background-position: left 19px top 7px;
      }
      100% {
        background-position: left 19px top 13px;
      }
    }

    .header-nav-btn {
      transition: color .3s ease;

      &:hover {
        color: var(--color-baby-pink);

        &::after {
          background-color: var(--color-baby-pink);
        }
      }

      &::after {
        transition: background-color .3s ease;
      }
    }

    .header-cta-button-pc {
      a {
        transition: background-color .3s ease;

        &:hover {
          background-color: #84b759;
          animation: header-cta-button .4s ease-in-out;
        }
      }

      @keyframes header-cta-button {
        0% {
          background-position: center top 11px;
        }
        60% {
          background-position: center top 5px;
        }
        100% {
          background-position: center top 11px;
        }
      }
    }
  }
</style>
