---
import "../styles/style.scss";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";

const isDev = import.meta.env.MODE !== "production";

const logo = "/assets/images/global/logo.svg";
const logoAlt = "学校法人 みもみ幼稚園";

const {
  subTitle = "トップページ",
  ogType = "website",
  ogTitle = subTitle,
  description = "京成実籾駅徒歩3分。自然いっぱいの広い敷地でのびのび遊び、学ぶ「みもみ幼稚園」。習志野市・船橋市・八千代市・千葉市から通いやすく、自由と自立を育む教育を行っています。",
  ogDescription = description,
  noIndex = false,
  jsonLd = ""
} = Astro.props;

const isPreview = import.meta.env.SITE?.includes("netlify.app");
const shouldNoIndex = isPreview || noIndex;
---

<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自然の中で育つ習志野市の幼稚園｜みもみ幼稚園｜{subTitle}</title>
    <meta name="description" content={description}>

    <!-- noindex -->
    {shouldNoIndex && <meta name="robots" content="noindex, nofollow" />}

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/android-chrome-256x256.png">

    <!-- ogp -->
    <meta property="og:site_name" content="自然の中で育つ習志野市の幼稚園｜みもみ幼稚園">
    <meta property="og:url" content={`https://www.mimomi-youchien.com/${Astro.url.pathname}`} />
    <meta property="og:type" content={ogType}>
    <meta property="og:title" content={ogTitle}>
    <meta property="og:description" content={ogDescription}>
    <meta property="og:image" content="https://www.mimomi-youchien.com//ogp.webp">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content={ogDescription}>
    <meta name="twitter:image:src" content="https://www.mimomi-youchien.com//ogp.webp">

    <!-- destyle.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css">

    <!-- 構造化データ -->
    {jsonLd && (
      <script type="application/ld+json" set:html={jsonLd}></script>
    )}
  </head>

  <body>
    <Header
      logo={logo}
      logoAlt={logoAlt}
    />

    <slot />

    <Footer
      logo={logo}
    />
  </body>
</html>
