---
import Layout from "../../layouts/Layout.astro";
import OtayoriKv from "../../components/OtayoriKv.astro";
import ButtonLink from "../../components/button/ButtonLink.astro";
import Cta from "../../components/Cta.astro";
import { formatNewsDate, toMachineDate } from "../../utils/formatDate";

// microCMS呼び出し
import { getOtayori, getOtayoriDetail } from "../../library/microcms";

// HTMLパーサー用ライブラリ
import { parse } from "node-html-parser";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getOtayori({ fields: ["id"], limit: 100 });
  return response.contents.map((content: any) => ({
    params: {
      otayoriId: content.id,
    },
  }));
}

// 記事の詳細情報を取得
const { otayoriId } = Astro.params;
const otayori = await getOtayoriDetail(otayoriId as string);

// サニタイズ処理
import sanitizeHtml from "sanitize-html";

// リッチエディタ内の画像URLに画像APIクエリを付与
function convertImagesToWebP(htmlContent: string) {
  const root = parse(htmlContent);
  root.querySelectorAll('img').forEach(img => {
    const src = img.getAttribute('src');
    if (src && src.includes('microcms-assets.io')) {
      img.setAttribute('src', `${src}?fm=webp`);
    }
  });
  return root.toString();
}

// 記事本文をサニタイズし、画像をWebPに変換
const cleanContent = sanitizeHtml(convertImagesToWebP(otayori.content), {
  allowedTags: [ 'b', 'i', 'em', 'strong', 'a', 'p', 'h2', 'h3', 'ul', 'ol', 'li', 'br', 'img' ],
  allowedAttributes: {
    '*': ['class', 'style'],
    'a': ['href', 'target'],
    'img': ['src', 'alt', 'width', 'height']
  },
  allowedIframeHostnames: ['www.youtube.com'],
});

// 記事本文をプレーンテキスト化
const cleanText = sanitizeHtml(otayori.content, {
  allowedTags: [], // すべてのタグを削除
  allowedAttributes: {} // すべての属性を削除
}).trim();

// メタディスクリプション：記事本文の最初の150文字を動的に出力
const metaDescription = cleanText.length > 150 ? cleanText.substring(0, 150) + "…" : cleanText;
---

<Layout
  title="保護者さま限定ページ「おたより」（ログインが必要です）｜習志野市の幼稚園｜みもみ幼稚園"
  ogType="article"
  description="このページはみもみ幼稚園の在園児保護者向けのブログ記事ページです。閲覧にはパスワードが必要です。"
  noIndex="true"
>
  <!-- otayori-single-kv -->
  <div class="otayori-single-kv">
    <OtayoriKv/>
  </div><!-- /.otayori-single-kv -->

  <main class="otayori-single-main l-section-body js-load-fade-in">
    <div class="l-container-s">
      <article class="otayori-single-article">
        <div class="otayori-single-head">
          <h1 class="otayori-single-title">{otayori.title}</h1>
          <div class="otayori-single-meta">
            <span class="otayori-single-category">{otayori.category}</span>
            <time datetime={toMachineDate(otayori.customDate || otayori.publishedAt)} class="otayori-single-date">
              {formatNewsDate(otayori.customDate || otayori.publishedAt)}
            </time>
          </div><!-- /.otayori-single-meta -->
        </div><!-- /.otayori-single-head -->
        <div class="otayori-single-thumbnail">
          <img
            src={`${otayori.thumbnail?.url}?fm=webp`}
            alt={otayori.thumbnailAlt || "ブログのサムネイル画像"}
            loading="eager"
            decoding="async"
            width="800"
            height="512"
          >
        </div>
        <div class="otayori-single-content" set:html={cleanContent}></div>
      </article>
      <div class="otayori-single-button">
        <ButtonLink
          buttonText="おたより一覧を見る"
          ButtonHref="/otayori/1"
        />
      </div><!-- /.otayori-single-button -->
    </div><!-- /.l-container-s -->
  </main>

  <div class="otayori-single-cta">
    <Cta />
  </div><!-- /.otayori-single-cta -->
</Layout>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .otayori-single-kv {
    padding-top: 20px;
    margin-top: 48px;
  }

  .otayori-single-head {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 10px;
    background-size: 12px 1px;
    background-image: linear-gradient(to right, var(--color-blue) 6px, transparent 6px);
    background-repeat: repeat-x;
    background-position: left bottom;
    line-height: 1.5;
  }

  .otayori-single-title {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
  }

  .otayori-single-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .otayori-single-category {
    padding: 3px 25px;
    border-radius: 3px;
    background-color: var(--color-blue);
    color: var(--color-base);
  }

  .otayori-single-date {
    font-size: 10px;
    font-weight: 700;
  }

  .otayori-single-thumbnail {
    margin: 32px 0;
  }

  // .otayori-single-contentは_blog-content.scssにてスタイリング

  .otayori-single-button {
    text-align: right;
  }

  .otayori-single-cta {
    margin-top: 60px;
  }

  @include mq() {
    .otayori-single-kv {
      margin-top: 100px;
    }

    .otayori-single-head {
      padding-bottom: 20px;
    }

    .otayori-single-title {
      font-size: 20px;
      letter-spacing: .2em;
      line-height: 1.8;
    }

    .otayori-single-category {
      padding: 3px 30px;
    }

    .otayori-single-date {
      font-size: 14px;
    }

    .otayori-single-thumbnail {
      margin: 40px 0;
    }

  // .otayori-single-contentは_blog-content.scssにてスタイリング

    .otayori-single-button {
      text-align: right;
    }

    .otayori-single-cta {
      margin-top: 120px;
    }
  }
</style>
